.git
.github
.gitignore
.trae
node_modules
vendor
tests
writable/debugbar
writable/logs
writable/session
writable/cache
public/uploads/perfil/*
public/uploads/lisensa/*
public/uploads/sansaun/*
*.sql
*.xlsx
.env
env
phpunit.xml.dist
docker-compose.yml
docker-compose.override.yml
