.git
.github
.gitignore
.trae
node_modules
vendor
tests
docs
scratch
scripts
writable/debugbar
writable/logs
writable/session
writable/cache
public/uploads/perfil/*
public/uploads/lisensa/*
public/uploads/sansaun/*
*.sql
*.xlsx
*.map
.env
env
public/debug.php
composer.phar
phpunit.xml.dist
docker-compose.yml
docker-compose.override.yml
